.THIS.slds-card.many-many-tile {
    position: relative;
    padding: 10px !important;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.THIS .slds-card__header {
    /* padding-top: 0; */
}