.THIS.slds-card.many-many-tile {
    /*
    position: relative;
    padding: 0;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    */
}

.THIS .slds-card__header {
    padding-top: 0;
}